nav {
  width: 100%;
  
  display: flex;
  align-items: first baseline;

}

.nav--logo {
  flex: 1;
  text-align: center;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 35px;
  color: #885BE8;
}

.nav--item {
  flex: 3;
  display: flex;
  padding-right: 50px;
  justify-content: end;
}

.nav--item li{
  display: inline;
  padding: 0 20px;
}

.nav--item li a {
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 18px;
}

.nav--item li a:hover {
  color: #885BE8;
}

main {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  width: 1000px;
  margin-top: 70px;
  display: flex;
  gap: 40px;
  padding: 20px;
  
}

.home--image {
  flex: 1;
}

.home--image  img{
  width: 100%;
  border: none;
  position: relative;
  border-radius: 74% 26% 55% 45% / 29% 78% 22% 71% ;
}

.home--image  img:before {
  content: '';
  width: 100%;
  position: absolute;
  background-color: #885BE8;
  left: -50px;
}

.home--text {
  flex: 2;
}

.home--text h1 {
  font-size: 60px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  margin-bottom: 20px;
}

.home--text h1 span {
  color: #885BE8;
  font-weight: 500;
}

.home--text p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05rem;

  margin-bottom: 20px;
}

.home--btn_hire {
  padding: 8px 15px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background-color: #885BE8;
  color: #fff;
}

.home--btn_hire:hover {
  background-color: #7851CA;
}

.skills {
  margin-top: 40px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills--image {
  display: flex;
  gap: 30px;
}

.skills--image img {
  width: 40px;
  
}

.about {
  margin-top: 120px;
  width: 800px;
  display: flex;
   gap: 20px;
}

.about--text {
  flex: 2;
  padding-right: 20px;
  
}

.topic--title {
  color: #885BE8;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}

.about--text h1 {
  font-size: 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.about--text h4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about--text p {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.about--image {
  flex: 1;
}


/* Project Section */

.project {
  margin-top: 120px;
  width: 1000px;
}

.project--collection {
  width: 100%;
  display: flex;
  height: 1000px;
  background-color: antiquewhite;
}
